body{
  background: url("../img/store_background.jpg");
  background-size: cover;
}

.container.one{
  width: 450px;
  margin: 0 auto;
  margin-top: 10%;
}

.container.one a{
  text-decoration: none;
  font-size: 20px;
}
